@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:wght@400;700&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    overflow-x: hidden;
}

.fundo{
    background-color: #f3f3f3;
}

.img-main{
    width: 100%; 
}

h2{
    color: #e41218;
    font-size: 7rem;
    font-weight: bold;
    line-height: 90px;
}

button{
    background-color: #000;
    border-style: none;
    color: #fff;
    font-size: 15px;
    font-weight:bold;
    padding: 12px 30px 12px 30px;
    position: relative;
}

button:hover{
    background-color: #242323;
    cursor: pointer;
}

/*NAVBAR*/
.nav-position{
    position: absolute;
    z-index: 1;
}

.nav-link{
    color: #fff;
    font-weight: bold;
}

.nav-link:hover{
    color: #fff;
    box-shadow: inset 0 4px 0 #e41218;
}


/*HEADER*/

#header{
    height: 89vh;
    background-image: url(../imgs/backgroundHeader.png);
    background-repeat: no-repeat;
    background-size:100% 100%
}

#header .container-fluid{
    height: 100%;
}

#header .container-fluid .row{
    height: 100%;
}

.call{
    position: relative;
    bottom: 40px;
    left: 180px;
    font-weight: bold;
}

.text-1{
    font-size: 1.7rem;
    color: #000;
    position: relative;
    top: 70px;
    left: 255px;
    line-height:normal;
}

.text-2{
    font-size: 11rem;
    line-height:normal;
    letter-spacing: -7px;
}

.text-3{
    font-size: 3.4rem;
    color: #000;
    position: relative;
    bottom: 50px;
    left: 15px;
    line-height:normal;

}

/*CONTEUDO PRINCIPAL*/

/*MARCAS*/
.img-marcas{
    object-fit: contain;
}

/*SEÇÃO OCULOS DE GRAU*/
.button-grau{
    left: 40px;
}

/*SEÇÃO OCULOS DE SOL*/
.button-sol{
    left: 30px;
    bottom: 16px;
}

/*SEÇÃO OCULOS INFANTIS*/
.button-infantis{
    left: 60px;
}

/*SEÇÃO TECNOLOGIA*/
.button-tech{
    position: absolute;
    left: 37px;
    top: 150px;
    font-size: 1.2rem;
}

.box-tech{
    background-color: #e31016;
    height: 50%;
    height: auto;
    position: relative;
    padding: 30px;
    left: 80px;
    top: 50px;
    display: flex;
    flex-direction: column;
}

.texto-tech-1, .texto-tech-2{
    font-weight: bold;
}

.texto-tech-1{
    letter-spacing: -1px;
    font-size: 1.2rem;
    color: #000;
    padding: 0;
    margin: 0;
    line-height: 40px;
}

.texto-tech-2{
    font-size: 3rem;
    color: #fff;
    line-height: 40px;
}

/*SEÇÃO PARCEIROS*/

#Parceiros .fundo{
    width: 85%;
}

.img-parceiros{
    width:17%;
    height: auto;
}
.text-parceiro {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 10px 0 0 0px;
}

/*FOOTER*/
footer{
    background-color: #000;
}

/*Altera Primeira Coluna do Footer*/

.text-footer{
    font-size: 2.2rem;
    letter-spacing: -1px;
    color: #fff;
    font-weight: bold;
}

.text-footer span {
    color: #e41218;
}

/*Deixa todos so Paragrafos Branco*/
div > div > div p{
    color: #fff;
}

.numero-telefone{
    color: #e41218;
    font-size: 1rem;
    font-weight: bold;
}
.unidade{
    font-size: 1.2rem;
    font-weight: bold;
}

.localizacao{
    color: #8e8e8e;
    font-size: 0.9rem;
}


@media screen and (max-width: 768px) { 
    h2{
        text-align: center;
        margin: 70px 0 70px 0;
        letter-spacing: -3px;
        font-size: 6rem;
    }
    main{
        overflow-x: hidden;

    }
    
    .img-main{
        width:100%
    }

    /*NAVBAR*/
    .logo-nav{
        display: none;
    }

    .nav-link{
        font-size: 0.8rem;
        padding: 8px 5px 8px 5px;
    }
    
    
    /*HEADER*/
    #header{
        height: 40vh
    }

    .call{
        bottom: 0px;
        left: 0px;
    }
    
    .text-1{
        font-size: 1.3rem;
        top: 50px;
        left: 90px;
    }
    
    .text-2{
        font-size: 5rem;
        position: relative;
        bottom: 50px;
        left: 50px;
        line-height:normal;
        letter-spacing: -7px;
    }
    
    .text-3{
        font-size: 1.5rem;
        color: #000;
        bottom: 140px;
        left: 70px;    
    }

    /*MARCAS*/
    .marcas-container{
        flex-direction: column;
        height: 100vh;
    }

    .img-marcas{
        margin-top: 20px;
        padding: 0px;
        width: 100%;
        height: 4%;
       
    }

    /*OCULOS GRAU*/


    .button-grau{
        bottom: 70px;
    }
    /*OCULOS SOL*/

    .button-sol{
        bottom: 80px;
    }
    /*OCULOS INFANTIS*/

    #Oculos-Infantis .container-fluid .row{
        margin: 0;
    }

    .button-infantis{
        bottom: 70px;
    }

    /*TECH*/
    .button-tech{
        position: absolute;
        left: 18px;
        top: 130px;
        font-size: 1.2rem;
    }
    
    .box-tech{
        background-color: #e31016;
        position: absolute;
        top: 50%;
        left: 50%;    
        translate: -50% 70% ; 
        padding: 10px;   
    }
    
    .texto-tech-1, .texto-tech-2{
        font-weight: bold;
    }
    
    .texto-tech-2{
        font-size: 3rem;
        color: #fff;
        margin: 0;
    }

    /*PARCEIROS*/
    
    #Parceiros .fundo, #Parceiros .container{
        width: 100%;
        margin-top: 200px;
        padding: 0;
    }

    .img-parceiros{
        width:35%;
        height: auto;
    }

    .text-parceiro {
        font-size: 1.7rem;
        font-weight: bold;
        margin: 30px 0 0 0px;
    }

    /*FOOTER*/
    .numero-telefone{
        font-size: 0.8rem;
    }

    .unidade{
        font-size: 0.9rem;
    }

    .localizacao{
        font-size: 0.7rem;
    }
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
    h2{
        margin:50px;
    }

    #header h2{
        margin: 0;
    }
    .box-tech h2{
        margin: 0;
    }

    /*OCULOS GRAU*/
    .button-grau{
        bottom: 40px;
    }
    /*OCULOS SOL*/

    .button-sol{
        bottom: 60px;
    }
    /*OCULOS INFANTIS*/
    .button-infantis{
        bottom: 40px;
    }  
}